<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio de mi página | WEB |</title>
    <% include partials/head %>
</head>
<body class="login">
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1> 
                    <span class="fa fa-lock"> </span> 
                    Inicia o Regístrate
                </h1>
                <a class="btn btn-light btn-lg" href="/login">
                <span class="fa fa-user"></span>
                Inicio local
                </a>
                <a class="btn btn-light " href="/signup">
                    <span class="fa fa-user"></span>
                    Registrate
                </a>
            </div>
        </div>
    </div>
</body>
</html>